<%= form_for(@insect) do |f| %>
  <% if @insect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insect.errors.count, "error") %> prohibited this insect from being saved:</h2>

      <ul>
      <% @insect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
