<!DOCTYPE html>
<html>
  <head>
    <title>Remove Markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }


    </style>
  </head>
  <body>
    <div id="floating-panel">
      <!-- <input onclick="clearMarkers();" type=button value="Hide Markers">
      <input onclick="showMarkers();" type=button value="Show All Markers">
      <input onclick="deleteMarkers();" type=button value="Delete Markers"> -->
    </div>
    <div id="map"></div>
    <p>Click on the map to add markers.</p>
    <script>

// In the following example, markers appear when the user clicks on the map.
// The markers are stored in an array.
// The user can then click an option to hide, show or delete the markers.
var map;
var markers = [];



function initMap() 
{
  var CENTRO = {lat: 19.326683, lng: -99.165464}; 

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: CENTRO,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });
  
  // This event listener will call addMarker() when the map is clicked.
  map.addListener('click', function(event) 
  {
    addMarker(event.latLng);
    
    
  });

}

// Adds a marker to the map and push to the array.
function addMarker(location) 
{
  var mariquita = {url: 'http://es.wikieducator.org/images/8/8d/MariquitaViva.png',};
  var marker = new google.maps.Marker({
    position: location,
    map: map,
    icon: mariquita
  });
  markers.push(marker);
  
  console.log(marker.getPosition().lat());
  console.log(marker.getPosition().lng());
}

// Sets the map on all markers in the array.
function setMapOnAll(map) 
{
  for (var i = 0; i < markers.length; i++) 
  {
    markers[i].setMap(map);
  }
}


    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpG5xkP7Kv2VO_qj53Wz2Ri_jV_BNq38k&signed_in=true&callback=initMap"></script>
  </body>
</html>