<div ng-controller="especies"> <!-- combos, galeria, texto y mapa> -->

    <div class="row"> <!-- combos y galeria> -->
         
        <div class="col s12 m3 l3"> <!-- combos  -->
    
            <div class="row">
               <div class="divider"></div>
            </div>
    
             <div class="browser-default col s12"> <!-- Orden -->
                <label>Orden</label>
                <select class="browser-default" ng-model="orden" ng-change="cargarFamilias(orden)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="orden in ordenes" value={{orden.id}}>{{orden.descripcion}}</option>
                </select>
            </div> <!-- Orden -->
        
            <div class="browser-default col s12"> <!-- Familia -->
                <label>Familia</label>
                <select class="browser-default" ng-model="familia" ng-change="cargarGeneros(familia)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="familia in familias" value={{familia.id}}>{{familia.descripcion}}</option>
                </select>
            </div> <!-- Familia -->
        
            <div class="browser-default col s12"> <!-- Género -->
                <label>Género</label>
                <select class="browser-default" ng-model="genero" ng-change="cargarEspecies(genero)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="genero in generos" value={{genero.id}}>{{genero.descripcion}}</option>
                </select>
            </div><!-- Género -->
        
            <div class="browser-default col s12"> <!-- Especie -->
                <label>Especie</label>
                <select class="browser-default" ng-model="especie" ng-change="cargarInsecto(especie)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="especie in especies" value={{especie.id}}>{{especie.especie}}</option>
                </select>
            </div><!-- Especie -->
        
            <div class="row">
               <div class="divider"></div>
            </div>
            
        </div><!-- combos  -->
            
         <!-- Modal Structure -->
        <div id="modal1" class="modal">
            
            <div class="modal-content">
              <img src="" id="imagenModal" class="responsive-img"></img>
            </div>
            
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
            
        </div>
        
        <div class="col s12 m5 l5"><!-- imagen -->
            
            <p class="flow-text">{{actual.especie}}</p>
            <img src="{{actual.root+actual.cover}}" class="responsive-img">
            
            <div class="card-panel col s12 m12 l12">
                <div ng-repeat="parte in actual.imagenes">
                    <div class="col s12 m4 l4">
                      <div class="card">
                        <div class="card-image">
                          <img src="{{actual.root+parte.cover}}" alt="imagen de parte de insecto" 
                          class="responsive-img" onclick="escuchadores();">
                        </div>
                        <div class="card-content">
                          <p>{{parte.parte}}</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            
        </div><!-- imagen -->
        
        <div class="col s12 m4 l4"> <!-- texto -->
            <p class="flow-text">Descripción biológica </p>
            <p class="flow-text">{{actual.descripcion_biologica}}</p>
        </div> <!-- texto -->
        
        
    </div><!-- combos, galeria, texto > -->
    
        <div class="container" "center-align"><!-- mapa -->
            <iframe id="mapa" src="https://insectopedia-luisesh11.c9users.io/maps/show" width="100%" height="400px"></iframe>
        </div> <!--  mapa -->
   
    
</div><!-- combos, galeria, texto y mapa> -->

<script>
   function escuchadores(){
       console.log("ssss");
         $("img").click(function(event) {
            console.log("ggo");
            $("#imagenModal").attr("src",$(this).attr("src"));
             $('#modal1').openModal();   
        });
   }
</script>
    