<div class="row" ng-controller="partes"> <!-- combos, boton y galeria> -->

    <div class="col s12 m3 l3"> <!-- combos y boton -->
        
        <div class="row">
           <div class="divider"></div>
        </div>
    
        <div class="browser-default col s12"> <!-- Parte del insecto -->
            <label>Parte del insecto</label>
            <select class="browser-default" ng-model="partes.repeatSelect" >
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="parte in partes" value={{parte.id}}>{{parte.descripcion}}</option>
            </select>
        </div> <!-- Parte del insecto -->
        
        <div class="row">
           <div class="divider"></div>
        </div>
    
        <div class="browser-default col s12"> <!-- Orden -->
            <label>Orden</label>
            <select class="browser-default" ng-model="orden" ng-change="cargarFamilias(orden)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="orden in ordenes" value={{orden.id}}>{{orden.descripcion}}</option>
            </select>
        </div> <!-- Orden -->
    
        <div class="browser-default col s12"> <!-- Familia -->
            <label>Familia</label>
            <select class="browser-default" ng-model="familia" ng-change="cargarGeneros(familia)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="familia in familias" value={{familia.id}}>{{familia.descripcion}}</option>
            </select>
        </div> <!-- Familia -->
    
        <div class="browser-default col s12"> <!-- Género -->
            <label>Género</label>
            <select class="browser-default" ng-model="genero" ng-change="cargarEspecies(genero)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="genero in generos" value={{genero.id}}>{{genero.descripcion}}</option>
            </select>
        </div><!-- Género -->
    
        <div class="browser-default col s12"> <!-- Especie -->
            <label>Especie</label>
            <select class="browser-default" ng-model="especie" ng-change="cargarInsecto(especie)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="especie in especies" value={{especie.id}}>{{especie.especie}}</option>
            </select>
        </div><!-- Especie -->
    

        <div class="row">
           <div class="divider"></div>
        </div>
        
        <div class="browser-default col s12"> <!-- Estado -->
            <label>Estado</label>
            <select class="browser-default" ng-model="estado" ng-change="cargarMunicipios(estado)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="estado in estados" value={{estado.id}}>{{estado.descripcion}}</option>
            </select>
        </div><!-- Estado -->
        
        <div class="browser-default col s12"> <!-- Municipio -->
            <label>Municipio</label>
            <select class="browser-default" ng-model="municipio" ng-change="cargarBiomas(municipio)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="municipio in municipios" value={{municipio.id}}>{{municipio.descripcion}}</option>
            </select>
        </div><!-- Municipio -->
        
        <div class="browser-default col s12"> <!-- Bioma -->
            <label>Bioma</label>
            <select class="browser-default" ng-model="bioma" ng-change="cargarInsecto(bioma)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="bioma in biomas" value={{bioma.id}}>{{bioma.descripcion}}</option>
            </select>
        </div><!-- Bioma -->
        
        <div class="row">
            <div class="divider"></div>
        </div>    
    
            
        <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
            <i class="material-icons right">send</i>
        </button>
    
    </div><!-- combos y boton -->
    
    <div class="col s12 m5 l5"><!-- imagen -->
        <h1>{{actual.especie}}</h1>
        <img src="{{actual.root+actual.cover}}" class="responsive-img">
        <div class="card-panel">
            <p>{{actual.descripcion_biologica}}</p>
        </div>
        
    </div><!-- imagen -->
    
</div><!-- combos, boton y galeria -->