<div class ng-controller="regiones"> <!-- todo> -->

    <div class="row" > <!-- combos y mapa> -->
    
        <div class="col s12 m3 l3"> <!-- combos -->
    
            <div class="row">
               <div class="divider"></div>
            </div>
    
            <div class="browser-default col s12"> <!-- Orden -->
                <label>Orden</label>
                <select class="browser-default" ng-model="orden" ng-change="cargarFamilias(orden)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="orden in ordenes" value={{orden.id}}>{{orden.descripcion}}</option>
                </select>
            </div> <!-- Orden -->
        
            <div class="browser-default col s12"> <!-- Familia -->
                <label>Familia</label>
                <select class="browser-default" ng-model="familia" ng-change="cargarGeneros(familia)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="familia in familias" value={{familia.id}}>{{familia.descripcion}}</option>
                </select>
            </div> <!-- Familia -->
        
            <div class="browser-default col s12"> <!-- Género -->
                <label>Género</label>
                <select class="browser-default" ng-model="genero" ng-change="cargarEspecies(genero)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="genero in generos" value={{genero.id}}>{{genero.descripcion}}</option>
                </select>
            </div><!-- Género -->
        
            <div class="browser-default col s12"> <!-- Especie -->
                <label>Especie</label>
                <select class="browser-default" ng-model="especie" ng-change="cargarInsecto(especie)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option ng-repeat="especie in especies" value={{especie.id}}>{{especie.especie}}</option>
                </select>
            </div><!-- Especie -->
            
            <div class="row">
               <div class="divider"></div>
            </div>
                
            
        </div><!-- combos -->
            
        <div class="col s12 m8 l8"><!-- mapa -->
            <iframe id="mapa" src="https://insectopedia-luisesh11.c9users.io/maps/show" width="100%" height="400px"></iframe>
        
            
        </div> <!--  mapa -->
        
    </div><!-- combos y mapa -->
    
    <div class="row"> <!-- combos y tabla> -->
    
        <div class="col s12 m3 l3"> <!-- combos  -->
    
            <div class="row">
               <div class="divider"></div>
            </div>
    
        <div class="browser-default col s12"> <!-- Estado -->
            <label>Estado</label>
            <select class="browser-default" ng-model="estado" ng-change="cargarMunicipios(estado)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="estado in estados" value={{estado.id}}>{{estado.descripcion}}</option>
            </select>
        </div><!-- Estado -->
        
        <div class="browser-default col s12"> <!-- Municipio -->
            <label>Municipio</label>
            <select class="browser-default" ng-model="municipio" ng-change="cargarBiomas(municipio)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="municipio in municipios" value={{municipio.id}}>{{municipio.descripcion}}</option>
            </select>
        </div><!-- Municipio -->
        
        <div class="browser-default col s12"> <!-- Bioma -->
            <label>Bioma</label>
            <select class="browser-default" ng-model="bioma" ng-change="cargarInsecto(bioma)">
                <option value="" disabled selected>Seleccione una opción</option>
                <option ng-repeat="bioma in biomas" value={{bioma.id}}>{{bioma.descripcion}}</option>
            </select>
        </div><!-- Bioma -->
            
        
        <div class="row">
           <div class="divider"></div>
        </div>

        
        </div><!-- combos -->
        
        <div class="col s12 m9 l9"><!-- tabla -->
            <table class="highlight" class="responsive-table">
                <thead>
                    <tr>
                        <th data-field="especie">Especie</th>
                        <th data-field="genero">Género</th>
                        <th data-field="familia">Familia</th>
                        <th data-field="orden">Orden</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>especie</td>
                        <td>genero</td>
                        <td>familia</td>
                        <td>orden</td>
                    </tr>
                    <tr>
                        <td>especie</td>
                        <td>genero</td>
                        <td>familia</td>
                        <td>orden</td>
                    </tr>
    
                    <tr>
                        <td>especie</td>
                        <td>genero</td>
                        <td>familia</td>
                        <td>orden</td>
                    </tr>
                </tbody>
            </table>
          
        </div> <!-- tabla -->
                
        
    </div><!-- combos, boton y tabla -->

</div><!-- todo -->
        