<%= form_for(@biome) do |f| %>
  <% if @biome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@biome.errors.count, "error") %> prohibited this biome from being saved:</h2>

      <ul>
      <% @biome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
